.login {
    flex: 1;
    line-height: 1.5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
    text-align: center;

    .img {
        background-color: #fff;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 80%;
            display: block;
        }
    }

    .form {
        background-color: var(--theme-color-0);
        color: #fff;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .logo {
            width: 10rem;
            margin: 0 0 1.8rem 0;
            margin-bottom: 2rem;
        }

        h1,
        h2 {
            margin: 0;
        }

        h1 {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
        }

        p {
            max-width: 70%;
        }

        .stack {
            font-weight: 700;
            margin-bottom: 4rem;
        }

        button {
            background-color: #efefef;
            box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.20);
            border-radius: 3rem;
            border: none;
            font-size: 1.8rem;
            color: var(--theme-color-0);
            display: flex;
            align-items: center;
            font-weight: 400;
            padding: 1.2rem 3rem;
            cursor: pointer;
            outline: none;

            .loader {
                margin-bottom: .1rem;
            }

            .loader,
            img {
                margin-right: 1.4rem;
            }

            img {
                height: 3.3rem;
                display: block;
            }

            span {
                font-weight: 700;
                margin-left: .5rem;
            }

            &:active {
                transform: translateY(.2rem);
                box-shadow: none;
            }
        }
    }
}

@media (max-width: 720px) {
    .login {
        grid-template-columns: repeat(1, 1fr);

        .img {
            display: none;
        }

        .form {
            padding: 3rem;

            h1 {
                font-size: 2.4rem;
            }

            h2 {
                font-size: 2rem;
            }

            .logo {
                width: 8rem;
            }

            p {
                max-width: 90%;
            }
        }
    }
}