.header {
    background-color: var(--theme-color-0);
    padding: 1rem;
    display: none;
    grid-area: header;
    align-items: center;
    justify-content: space-between;

    .online {
        color: var(--color-green);
    }
}

@media (max-width: 640px) {
    .header {
        display: flex;
    }
}