:root {
    --theme-color-0: #060f2f;
    --theme-color-1: #1b2240;
    --theme-color-2: #383d5b;
    --theme-color-3: #3d4b6a;
    --theme-color-4: #566992;
    --theme-color-5: #798fbb;
    --theme-color-6: #b4c3db;
    --theme-color-7: #fff;

    --injex-blue: #1877F2;
    --color-green: #21E6C1;
    --color-red: #fa4850;

    --animation-function-cubic-in: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    --animation-function-cubic-out: cubic-bezier(0.6, -0.28, 0.74, 0.05);
}